<%- include('templates/header'); %>
<body>

    <h1 class="gradiente">Educación</h1>
    <h3 class="gradientesub">Bachillerato</h3>
    <p class="intro">
        Estudié en el colegio Magdalena Ortega de Nariño, allí estudié toda mi vida 
        y me gradué en el año 2021.
    </p>
    <h3 class="gradientesub">Técnico</h3>
    <p class="intro">
        Aquí fue donde empezó todo, hice un técnico en el sena en 
        Programación de software<br> en el colegio, entre los años 2020 - 2021.
        Parte de lo que sé actualmente, lo aprendí allí.
    </p>

    <h3 class="gradientesub">Tecnólogo</h3>
    <p class="intro">
        Actualmente me encuentro siguiendo la cadena de formación, realizando un 
        tecnólogo<br> en Análisis y desarrollo de Sistemas de Información, también en el Sena.
    </p>
    <h3 class="gradientesub">Otros cursos</h3>
    
    <ul>
        <li class="intro">Realicé un curso en Industrias creativas en el programa MisionTIC en el año 2021.</li>
        <li class="intro">Curso en seguridad y salud en el trabajo.</li>
    </ul>
</body>
</html>
<%- include('templates/footer'); %>

