<%- include('templates/header'); %>
<body >
   
    <h1 class="gradiente">Información personal</h1>
    <p class="intro">
        ¡Hola! mi nombre es Michel Martínez y soy estudiante de programación,<br> enfocada en el
        desarrollo web. Decidí estudiar esto, ya que a lo largo de mi<br> vida he visto 
        los diferentes avances tecnológicos que han ocurrido, y lo mucho<br> que han influenciado
        en nuestras vidas, al punto de convertirse en algo <br> imprescindible para el desarrollo
        de esta. Mi objetivo a través de esto es dejar <br>huella y convertirme en una
        gran profesional. 
    </p>
    <div class="imagen">
        <img src="static/imagenes/perfil2.jpeg" class="foto">
    </div>
    <h2 class="gradientesub" id="posicion">Sobre mi ...</h2>
    <p class="intro" id="posicion">
        Nací en Bogotá, Colombia pero soy una rola-costeña. Me describo como una persona <br> muy alegre,
        me gusta expresar en general lo que siento, soy muy sociable, ya que<br> para mi es reconfortante
        saber que de todas las personas siempre se puede aprender.<br> Soy perseverante, ya que creo fielmente
        en mis capacidades.<br>
        Mis pasatiempos son leer y ver series, mis géneros favoritos son el romance y la acción.
    </p> 
</body>

</html>
<%- include('templates/footer'); %>

