<%- include('templates/header'); %>
<body>
   <div class="banner">
    <div class="capa"></div>
    <div class="info">
        <h1>Hola mundo, mi nombre es Michel Martínez</h1>
    </div>
   </div>
</body>
</html>