<%- include('templates/header'); %>

<h1 class="gradiente">Laboral</h1>
<p class="intro">
    Actualmente no cuento con experiencia laboral, sin embargo considero que la
    construcción<br> de proyectos académicos grandes, son la oportunidad perfecta para 
    demostrar mis conocimientos. 
</p>
<h2 class="gradiente">Habilidades</h2><br>

<div class="cajas"> 
    <h2><img class="cajasimg" src="./static/imagenes/html.png" alt=""><br></h2>
    <p>Experiencia 3 años</p>
</div>

<div class="cajas"> 
    <h2><img class="cajasimg" src="./static/imagenes/css.png" alt=""><br></h2>
    <p>Experiencia 3 años</p>
</div>

<div class="cajas"> 
    <h2><img class="cajasimg" src="./static/imagenes/java.png" alt=""><br></h2>
    <p>Experiencia 1 año</p>
</div>

<div class="cajas"> 
    <h2><img class="cajasimg" src="./static/imagenes/mysql.png" alt=""><br></h2>
    <p>Experiencia 3 años</p>
</div>

<button class="hoja"><a href="static/archivos/HOJA_DE_VIDA.pdf"></a>Hoja de vida</button>
</html>
<%- include('templates/footer'); %>