<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/estilos.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="./js/main.js"></script>
    <title>Document</title>

</head>

    
    <script src="./js/main.js"></script>
    <title>Portafolio Michel Martínez</title>

      <nav id="barra">
        <a  class="navbar-brand" ><img src="static/imagenes/logo.png" class="logo2" width="700px"></a>
        <div class="navbar-nav">
          <ul>
            <li><a class="" href="/inicio">Inicio</a></li>
            <li><a class="" href="/infoper">Perfil</a></li>
            <li><a class="" href="/laboral">Experiencia</a></li>
            <li><a class="" href="/educacion">Educación</a></li>
            <li><a class="" href="/contacto">Contacto</a></li>
        </ul>
        </div>
      </nav>
</head>


